.container {
    /* background-image: url(../images/pexels-daniel-absi-952670.jpg); */
    /* background-size: cover; */
    width: 100vw;
    height: 100vh;
    background-color: black;

    text-align: center;
    justify-content: center;
    align-items: center;

    display: flexbox;
    overflow: scroll;
}

h1 {
    justify-content: center;
    margin-top: 5vh;
    font-size: 55px;
    animation: fadeIn 5s;
    opacity: 1;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#background-canvas {
    position: absolute;
    left: 0;
    top: 0;
    /* width: 100vw;
    height: 100vh; */
    z-index: -1;
}

#mobile_background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-color: black;
}

.content {
    background-color: #121212;
    display: table;
    /* display: flexbox; */
    /* justify-content: center; */
    height: 60vh;
    width: 80%;
    animation: fadeIn 5s;
    border-radius: 10px;
    margin: auto;
    margin-top: 5vh;
    padding: 1%;
}

.inner-col {
    background-color: #202020;
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 5%;
    display: inherit;
    margin-bottom: 10px;
}

.col-2 {
    float: left;
    width: 50%;
    background-color: inherit;
    /* background-color: blue; */
}

.col-3 {
    float: left;
    width: 33.33%;
    display: grid;
    /* background-color: blue; */
}

.col-4 {
  float: left;
  width: 25%;
}

.row {
    /* display: table; */
    width: 100%;
    /* background-color: white; */
}

h4 {
    /* background-color: aqua; */
    margin-top: -10px;
}

.col-3 h2 {
    margin-bottom: -10px;
}
