/*****************************************************/
/* App Wide CSS */

.App {
  /*text-align: center;*/
  color: #E1DEDE;
  font-family: Helvetica;
}

.scroll-arrow {
  position: absolute;
  bottom: 5vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
      animation: App-logo-spin infinite 20s linear;
  }
}


/* .App-header h1 {
  padding-left: 5vw;
  font-size: 60px;
} */

#typing-text-container {
  /* background-color: black;
  border: 3px solid white;
  border-radius: 10px;
  min-height: 200px;
  max-height: 300px;
  max-width: 60%;
  padding-left: 5vw; */
  margin-left: 5vw;
  margin-top: 2vh;
}

#typing-text {
  color: white;
  font-size: 55px;
  /*margin: 10px 0 0 10px;*/
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
}

span {
  animation: blink 1s infinite;
}

@keyframes blink {
  to {
      opacity: .0;
  }
}

/*****************************************************/
/* 1st Page CSS */




.contact-column {
    position: fixed;
    right: 1vw;
    bottom: 40%;
    float: right;
}

.contact-bubble {
    background-color: #E1DEDE;
    color: black;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vh;
}

.contact-bubble a {
    padding-top: 1vh;
}

.navbar {
    /* background-color: black; */
    display: inline-block;
    width: 100vw;
    height: 6vh;
    text-align: center;
    /* border-bottom: 3px solid #E1DEDE; */
}

.navbar-first {
    /* background-color: black; */
    color: white;
    height: 100%;
    padding-top: 1vh;
    justify-content: center;
    /* border-bottom: 3px solid white; */
}

.navbar-first a {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
}

.navbar-first a:hover {
    color: lime;
}


/* .navbar-first:hover {
    background-color: black;
} */

.App-header {
    position: relative;
    background-image: url(./images/pexels-sebastian-sørensen-750225.jpg);
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
}

.intro-page {
    position: relative;
    background-color: #E1DEDE;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: calc(10px + 2vmin);
    color: #26303D;
}

.projects-page {
    position: relative;
    background-image: url(./hacker.jpg);
    color: whitesmoke;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    overflow-x: scroll;
}

.col-3 {
    float: left;
    width: 33.33%;
}

.row {
    display: table;
    width: 100%;
}


.clickable-card {
    color: black;
    width: 80%;
    max-height: 30vh;
    overflow: hidden;
    margin: auto;
    padding-top: 3vh;
    padding-bottom: 3vh;
    background-image: linear-gradient(to top, grey 0%, whitesmoke 20%);
    border-radius: 20px;
    border: 2px solid black;
}

.expanded-card {
    position: absolute;
    float: left;
    top: 20%;
    width: 60%;
    height: 60%;
    margin: auto;
    align-items: center;
    display: none;
    z-index: 2;
    justify-content: center;
    background-color: whitesmoke;
    color: black;
    border-radius: 20px;
    border: 2px solid black;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}